#headline {
    padding: 0.8em;
    color: orangered;
    font-family: Roboto, sans-serif;
    background-image: url(backgroundimage.jpg);
    background-size: cover;
}

@media (min-width: 600px) {

}

.container {
    margin: auto;
    max-width: 800px;
}